
		body{
			margin:0;
			padding:1em;	
			font-family:arial,sans-serif;
			height = 20em;
		}
		.trigger{
			border:1px solid #ccc;
			color:green;
			width:15em;
			padding-right:1em;
			background:url('../img/arrow-down.gif') top right no-repeat #fff;
			display:block;
		}
		.activetrigger{
			border:1px solid #ccc;
			color:green;
			width:15em;
			padding-right:1em;
			display:block;
			background:#ccc;
		}
		/* style of the UL */
		.dropcontainer ul{
			background:#fff;
			border:1px solid #999;
			border-bottom:none;
			list-style-type:none;
			padding:0;
			margin:0;
			width:16em;
			height:15em;
			overflow:scroll;
			position:absolute;
		}
		.dropdownhidden{
			top:0;
			left:-999em;
		}
		.dropdownvisible{
			top:0;
			left:0;
		}
		.dropcontainer ul a{
			padding:0 .5em;
			display:block;
			width:15em;
			text-decoration:none;
			color:#666;
			border-bottom:1px solid #999;
		}
		.dropcontainer ul a:hover{
			background:#ccc;
		}
		.dropcontainer{
			position:relative;
		}
